<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br>
    <p>Welcome to the site! Today is <%= day%>, <%= date %>.</p>
    <p>Would you like to have your <a href="./fortune">fortune</a> read?</p>
  </body>
</html>
